@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

:root {
    --Grass: #9bcc50;
    --Poison: #b97fc9;
    --Fire: #fd7d24;
    --Fairy: #fdb9e9;
    --Steel: #9eb7b8;
    --Flying: linear-gradient(#3dc7ef 50%, #bdb9b8 50%);
    --Psychic: #f366b9;
    --Water: #4592c4;
    --Bug: #729f3f;
    --Normal: #a4acaf;
    --Electric: #eed535;
    --Ground: linear-gradient(#f7de3f 50%, #ab9842 50%);
    --Fighting: #d56723;
    --Rock: #a38c21;
    --Ice: #51c4e7;
    --Ghost: #7b62a3;
    --Dragon: linear-gradient(#53a4cf 50%, #f16e57 50%);
    --Dark: #444444;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
}

body {
    background-color: rgb(202, 31, 31);
    background-image: url("red-circle-patterned-plastic-texture.jpg");
    background-size: cover;
    background-attachment: fixed;
    color: white;
}

h1 {
    margin: 20px auto;
    text-align: center;
}

h3 {
    margin-bottom: 5px;
}

p {
    margin-top: 20px;
}

button {
    cursor: pointer;
    border: none;
    border-radius: 8px;
    box-shadow: 1px 1px 2px black;
    padding: 10px 15px;
    background: linear-gradient(rgb(56, 56, 196), rgb(38, 38, 104));
    color: #fefefe;
}

button#go-up {
    position: fixed;
    bottom: 10px;
    right: 10px;
    background-color: rgb(50, 50, 105);
    border: 1px solid white;
    border-radius: 5px;
    padding: 15px;
    cursor: pointer;
}

button a {
    text-decoration: none;
    color: #fefefe;
}

/* a i.material-icons {
    font-size: 30px;
} */

/* search bar */

#filter {
    text-align: center;
    margin: auto;
    padding: 10px;
}

#search-bar {
    width: 80%;
    border: 2px solid #FFCC01;
    border-radius: 8px;
    padding: 10px;
    background-color: rgb(50, 50, 105);
    color: #fefefe;
}

/* pokedex */

#pokedex {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    gap: 5px;
    padding: 20px;
}

.loading {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
    margin: auto;
    font-weight: bold;
    text-align: center;
}

.loading span {
    display: inline-block;
    font-size: 30px;
    color: #3869c5;
    text-shadow: 1px 1.4px 2px #122d61;
}

/* card */

.card {
    display: flex;
    flex-direction: column;
    width: calc(100% / 6 - 5px);
    padding: 10px;
    border: 2px solid #FFCC01;
    border-radius: 8px;
    background-color: rgb(50, 50, 105);
    background: linear-gradient(rgb(50, 50, 105) 60%, rgb(22, 22, 48));
    cursor: pointer;
}

.card:hover {
    background-color: rgb(63, 63, 128);
}

.card a {
    text-decoration: none;
    color: #fefefe;
}

.card .image {
    width: 100%;
    height: 130px;
}

.card .ID {
    margin-top: 10px;
    font-size: 14px;
}

.card h4 {
    padding: 5px 0 10px 0;
}

/* pokemon details */

.pokemon-details {
    background-color: rgba(0, 0, 0, 0.3);
    display: flex;
    flex-direction: column;
    gap: 25px;
    margin: 10px;
    padding: 20px 40px;
    font-size: large;
    font-weight: bold;
    border-radius: 10px;
    text-shadow: 1.5px 1px 2px black;
}

/* header */

.pokemon-details .header {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.pokemon-details .header h2 {
    border-bottom: 2px solid #fefefe;
    font-size: 25px;
}

.pokemon-details .name-image,
.pokemon-details .pokedex-data {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

/* image */

.pokemon-details .image {
    max-width: 300px;
}

.pokemon-details .image img {
    width: 100%;
}

/* pokedex data */

.pokemon-details .pokedex-data div {
    display: flex;
    gap: 10px;
    justify-items: center;
    padding-bottom: 5px;
    border-bottom: 1px solid #fefefe;
}

.pokemon-details .pokedex-data div * {
    align-self: center;
}

.pokemon-details .type span {
    padding: 1px 5px;
    border-radius: 5px;
    box-shadow: 2px 1px 2px black;
}

.pokemon-details .abilities ol {
    position: relative;
    left: 20px;
}

.pokemon-details .stats {
    display: flex;
    flex-direction: column;
    gap: 3px;
}

.pokemon-details .description {
    width: 100%;
}

.pokemon-details .description p {
    margin-top: auto;
}

.pokemon-details .buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 20px;
}

.pokemon-details .buttons .home {
    margin-right: auto;
}

.pokemon-details .buttons .disabled {
    pointer-events: none;
    opacity: 0.7;
}


/* error pages */

.error {
    width: 90%;
    margin: 20px auto;
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.4);
}

.pokemon-details .error.detail {
    width: 100%;
}

.error a {
    color: #fefefe;
}

.error a:hover {
    color: #FFCC01;
}

/* media calls */

@media only screen and (max-width: 290px) {
    .card {
        width: calc(100% - 5px);
    }
}

@media only screen and (min-width: 291px) and (max-width: 400px) {
    .card {
        width: calc(100% / 2 - 5px);
    }
}

@media only screen and (min-width: 401px) and (max-width: 600px) {
    .card {
        width: calc(100% / 3 - 5px);
    }
}

@media only screen and (min-width: 601px) and (max-width: 800px) {
    .card {
        width: calc(100% / 4 - 5px);
    }
}

@media only screen and (min-width: 1200px) {
    .card {
        width: calc(100% / 8 - 5px);
    }
}

@media only screen and (min-width: 868px) {
    .pokemon-details {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-evenly;
        margin: 10px 40px;
    }

    .pokemon-details .name-image {
        order: 1;
    }

    .pokemon-details .description {
        width: 100%;
        order: 4;
    }

    .pokemon-details .pokedex-data {
        align-self: center;
        order: 2;
    }

    .pokemon-details .stats {
        align-self: center;
        order: 3;
    }

    .pokemon-details .buttons {
        width: 100%;
        order: 5;
    }
}


/* Loading icon */

@keyframes ldio-y0gdl7c5ata {
    0% {
        opacity: 1
    }

    100% {
        opacity: 0
    }
}

.ldio-y0gdl7c5ata div {
    left: 94px;
    top: 48px;
    position: absolute;
    animation: ldio-y0gdl7c5ata linear 1s infinite;
    background: #3869c5;
    width: 12px;
    height: 24px;
    border-radius: 6px / 12px;
    transform-origin: 6px 52px;
}

.ldio-y0gdl7c5ata div:nth-child(1) {
    transform: rotate(0deg);
    animation-delay: -0.9166666666666666s;
    background: #3869c5;
}

.ldio-y0gdl7c5ata div:nth-child(2) {
    transform: rotate(30deg);
    animation-delay: -0.8333333333333334s;
    background: #3869c5;
}

.ldio-y0gdl7c5ata div:nth-child(3) {
    transform: rotate(60deg);
    animation-delay: -0.75s;
    background: #3869c5;
}

.ldio-y0gdl7c5ata div:nth-child(4) {
    transform: rotate(90deg);
    animation-delay: -0.6666666666666666s;
    background: #3869c5;
}

.ldio-y0gdl7c5ata div:nth-child(5) {
    transform: rotate(120deg);
    animation-delay: -0.5833333333333334s;
    background: #3869c5;
}

.ldio-y0gdl7c5ata div:nth-child(6) {
    transform: rotate(150deg);
    animation-delay: -0.5s;
    background: #3869c5;
}

.ldio-y0gdl7c5ata div:nth-child(7) {
    transform: rotate(180deg);
    animation-delay: -0.4166666666666667s;
    background: #3869c5;
}

.ldio-y0gdl7c5ata div:nth-child(8) {
    transform: rotate(210deg);
    animation-delay: -0.3333333333333333s;
    background: #3869c5;
}

.ldio-y0gdl7c5ata div:nth-child(9) {
    transform: rotate(240deg);
    animation-delay: -0.25s;
    background: #3869c5;
}

.ldio-y0gdl7c5ata div:nth-child(10) {
    transform: rotate(270deg);
    animation-delay: -0.16666666666666666s;
    background: #3869c5;
}

.ldio-y0gdl7c5ata div:nth-child(11) {
    transform: rotate(300deg);
    animation-delay: -0.08333333333333333s;
    background: #3869c5;
}

.ldio-y0gdl7c5ata div:nth-child(12) {
    transform: rotate(330deg);
    animation-delay: 0s;
    background: #3869c5;
}

.loadingio-spinner-spinner-wvxvr9ut85b {
    width: 200px;
    height: 170px;
    display: inline-block;
    overflow: hidden;
    /* background: #f1f2f3; */
}

.ldio-y0gdl7c5ata {
    width: 100%;
    height: 100%;
    position: relative;
    transform: translateZ(0) scale(1);
    backface-visibility: hidden;
    transform-origin: 0 0;
    /* see note above */
}

.ldio-y0gdl7c5ata div {
    box-sizing: content-box;
}

/* generated by https://loading.io/ */